header {
    padding: 2.25rem 3rem;
    color: var(--white);
    justify-content: space-between;
    align-items: center;
    display: flex;
}

header a {
    color: var(--main-text-color);
    text-decoration: inherit;
}

header nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}