.home {
    overflow: hidden;
    margin-top: 4rem;
}

.home__best-app {
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.home__wrapper-content {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.home__wrapper-content>img {
    max-width: 100%;
}

.home__title {
    font-size: 60px;
    font-weight: 500;
}

.home__subtitle {
    font-size: 12px;
    font-weight: 400;
    margin-top: 1rem;
    line-height: 16px;
    color: var(--second-text-color);
}