header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 60px;
}

.navbar-right {
    display: flex;
}

.navbar-right > button {
    margin-right: 1rem;
}